[submodule "base-common"]
	path = base-common
	url = git@github.com:share-zone/base-common.git
[submodule "message-common"]
	path = message-common
	url = git@github.com:share-zone/message-common.git
[submodule "message-domain"]
	path = message-domain
	url = git@github.com:share-zone/message-domain.git
